
*{
    color: white;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(0, 0, 0);
    color: white;
    

}
h1{
    font-size: 4rem;
    text-align: right;
}



footer{
    color: white;
    margin-top: 25px;
   width: 100%;
   height: auto;
background: #000000;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #434343, #000000);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #434343, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
@media (max-width:1366px){
    .wave{
        position: absolute;
        width: 100%;
        bottom: 0;
        height: 150px;
    }
    .texto__mio{
        width: 50%;
    }
    .fotomia{
        width: 40%;
        padding: 15px;
    }
    .nombre__mio{
        text-align: center;
        margin-top: 25px;
    }
    .foto__presentacion{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        
        
        
    }
    .foto__presentacion img{
        width: 300px;
        height: 500px;
        margin: 10px;
        
    }
    .texto__presentacion{
        text-align: center;
        
        margin-top: 50px;
        display: flex;
        flex-direction: row;
       
        
    }
    .links__mi{
        width: 100%;
        display: flex;
        
        justify-content: center;
        justify-content: space-around;
        
    }
    .links__mi img{
        width: 600px;
    }
    
    .btn-neont{
    position: relative;
    display: inline-block;
    padding: 15px 30px;
    color: #fff;
    letter-spacing: 4px;
    font-size: 24px;
    text-decoration: none;
    overflow: hidden;
    transition: 0.2s;
}
.btn-neont:hover{
    background: #00acee;
    box-shadow: 0 0 10px #00acee, 0 0 40px #00acee, 0  0 80px #00acee ;
    transition-delay:1s;
    color: white;

}

.btn-neont span{
    position: absolute;
    display: block;
}

#span12{
    top:0;
    left: -100%;
    width: 100%;
    height: 2px;
    background:linear-gradient(90deg,transparent,#00acee);
}

.btn-neont:hover #span12{
    left: 100%;
    transition: 1s;
}
#span32{
    bottom:0;
    right: -100%;
    width: 100%;
    height: 2px;
    background:linear-gradient(270deg,transparent,#00acee);
}

.btn-neont:hover #span32{
    right: 100%;
    transition: 1s;
    transition-delay:0.5s ;
}
#span22{
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background:linear-gradient(180deg,transparent,#00acee);
}

.btn-neont:hover #span22{
    top: 100%;
    transition: 1s;
    transition-delay:0.25s ;
}

#span42{
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background:linear-gradient(180deg,transparent,#00acee);
}

.btn-neont:hover #span42{
    bottom: 100%;
    transition: 1s;
    transition-delay:0.75s ;
}
/* facebook ---------------------------------------------------------------------*/
.btn-neonf{
    position: relative;
    display: inline-block;
    padding: 15px 30px;
    color: #fff;
    letter-spacing: 4px;
    font-size: 24px;
    text-decoration: none;
    overflow: hidden;
    transition: 0.2s;
}
.btn-neonf:hover{
    background: #3b5998;
    box-shadow: 0 0 10px #3b5998, 0 0 40px #3b5998, 0  0 80px #3b5998 ;
    transition-delay:1s;
    color: white;

}

.btn-neonf span{
    position: absolute;
    display: block;
}

#span11{
    top:0;
    left: -100%;
    width: 100%;
    height: 2px;
    background:linear-gradient(90deg,transparent,#3b5998);
}

.btn-neonf:hover #span11{
    left: 100%;
    transition: 1s;
}
#span31{
    bottom:0;
    right: -100%;
    width: 100%;
    height: 2px;
    background:linear-gradient(270deg,transparent,#3b5998);
}

.btn-neonf:hover #span31{
    right: 100%;
    transition: 1s;
    transition-delay:0.5s ;
}
#span21{
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background:linear-gradient(180deg,transparent,#3b5998);
}

.btn-neonf:hover #span21{
    top: 100%;
    transition: 1s;
    transition-delay:0.25s ;
}

#span41{
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background:linear-gradient(180deg,transparent,#3b5998);
}

.btn-neonf:hover #span41{
    bottom: 100%;
    transition: 1s;
    transition-delay:0.75s ;
}
/* WAHTASAPP------------------------------------------------------------------------------ */
.btn-neonW{
    position: relative;
    display: inline-block;
    padding: 15px 30px;
    color: #fff;
    letter-spacing: 4px;
    font-size: 24px;
    text-decoration: none;
    overflow: hidden;
    transition: 0.2s;
}
.btn-neonW:hover{
    background: #00bb2d;
    box-shadow: 0 0 10px #00bb2d, 0 0 40px #00bb2d, 0  0 80px #00bb2d ;
    transition-delay:1s;
    color: white;
    

}

.btn-neonW span{
    position: absolute;
    display: block;
}

#span1{
    top:0;
    left: -100%;
    width: 100%;
    height: 2px;
    background:linear-gradient(90deg,transparent,#00bb2d);
}

.btn-neonW:hover #span1{
    left: 100%;
    transition: 1s;
}
#span3{
    bottom:0;
    right: -100%;
    width: 100%;
    height: 2px;
    background:linear-gradient(270deg,transparent,#00bb2d);
}

.btn-neonW:hover #span3{
    right: 100%;
    transition: 1s;
    transition-delay:0.5s ;
}
#span2{
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background:linear-gradient(180deg,transparent,#00bb2d);
}

.btn-neonW:hover #span2{
    top: 100%;
    transition: 1s;
    transition-delay:0.25s ;
}

#span4{
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background:linear-gradient(180deg,transparent,#00bb2d);
}

.btn-neonW:hover #span4{
    bottom: 100%;
    transition: 1s;
    transition-delay:0.75s ;
}
/*LINKEDIN ---------------------------------------------------------------------------------------- */
.btn-neonl{
    position: relative;
    display: inline-block;
    padding: 15px 30px;
    color: #fff;
    letter-spacing: 4px;
    font-size: 24px;
    text-decoration: none;
    overflow: hidden;
    transition: 0.2s;
}
.btn-neonl:hover{
    background: #171515;
    box-shadow: 0 0 10px #171515, 0 0 40px #171515, 0  0 80px #171515 ;
    transition-delay:1s;
    color: white;

}

.btn-neonl span{
    position: absolute;
    display: block;
}

#span15{
    top:0;
    left: -100%;
    width: 100%;
    height: 2px;
    background:linear-gradient(90deg,transparent,#171515);
}

.btn-neonl:hover #span15{
    left: 100%;
    transition: 1s;
}
#span35{
    bottom:0;
    right: -100%;
    width: 100%;
    height: 2px;
    background:linear-gradient(270deg,transparent,#171515);
}

.btn-neonl:hover #span35{
    right: 100%;
    transition: 1s;
    transition-delay:0.5s ;
    color: white;
}
#span25{
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background:linear-gradient(180deg,transparent,#171515);
}

.btn-neonl:hover #span25{
    top: 100%;
    transition: 1s;
    transition-delay:0.25s ;
}

#span45{
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background:linear-gradient(180deg,transparent,#171515);
}

.btn-neonl:hover #span45{
    bottom: 100%;
    transition: 1s;
    transition-delay:0.75s ;
}

}


@media (max-width:412px){
    .wave{
        position: absolute;
        width: 100%;
        bottom: 0;
        height: 240px;
    }
    .fotomia{
   display: flex;
   justify-content: center;
    width: 100%;
    }
    .texto__mio{
        width: 100%;
        
    }
    .foto__presentacion{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-content: center;
        
    }
    .foto__presentacion img{
        width: 300px;
        height: 400px;
        align-items: center;
        
    }   
    .links__mi{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center
       
    }
    .links__mi a{
        width: 300px;
    }
    .links__mi img{
        width: 300px;
        margin-top: 25px;
        height: 160px;
    }
}
    
/* PARTICLE---------------------------------------------------------------------------------------------- */

#particles-js{
    background: url(/img/AdobeStock_126016889apaisado.jpg);
    background-attachment: fixed;
    background-blend-mode:soft-light ;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: calc(100vh - 70px);
  }
/* ESFERAS MOVIMIENTO--------------------------------------------------------------------------------------------------------------- */
  .container{
      position: relative;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
  }
  .container .ring{
    position: relative;
    width: 150px;
    height: 150px;
    margin: -30px;
    border-radius: 50%;
    border: 4px solid transparent;
    border-top: 4px solid #24ecff;
    animation: animate 4s linear infinite;
  }
  @keyframes animate {
      0%
      {
        transform: rotate(0deg);
      }
      100%
      {
        transform: rotate(360deg);
      }
  }
.container .ring::before{
content: '';
position: absolute;
top: 12px;
right: 12px;
border-radius: 50%;
width: 15px;
height: 15px;
background: #24ecff;
    box-shadow: 0 0 0 5px #24ecff33,
    0 0 0 10px #24ecff22,
    0 0 0 20px #24ecff11,
    0 0 20px #24ecff,
    0 0  50px #24ecff;

}
.container .ring:nth-child(2){
    animation: animate2 4s linear infinite;
    animation-delay: -1s ;
    border-left: 4px solid #93ff2d;
    border-top: 4px solid transparent;
}
.container .ring:nth-child(2)::before{
    content: '';
    position: absolute;
    top: initial;
    bottom: 12px;
    left: 12px;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    background: #93ff2d;
        box-shadow: 0 0 0 5px #93ff2d33,
        0 0 0 10px #93ff2d22,
        0 0 0 20px #93ff2d11,
        0 0 20px #93ff2d,
        0 0  50px #93ff2d;
    
    }

@keyframes animate2 {
    0%
    {
      transform: rotate(360deg);
    }
    100%
    {
      transform: rotate(0deg);
    }
}  
.container .ring:nth-child(3){
    animation: animate2 4s linear infinite;
    animation-delay: -3s ;  
    position: absolute;
      top: -66.66px;
      border-top: 4px solid transparent;
      border-left: 4px solid #e41cf8;
  }
  .container .ring:nth-child(3)::before{
    content: '';
    position: absolute;
    top: initial;
    bottom: 12px;
    left: 12px;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    background: #e41cf8;
        box-shadow: 0 0 0 5px #e41cf833,
        0 0 0 10px #e41cf822,
        0 0 0 20px #e41cf811,
        0 0 20px #e41cf8,
        0 0  50px #e41cf8;
    
    }

  .container p{
      position: absolute;
      color: #fff;
      font-size: 1.5em;
      font-family: consolas;
      bottom: -80px;
      letter-spacing: 0.15em;
  }
 