
*{
    color: white;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(0, 0, 0);

}
h1{
    font-size: 4rem;
    text-align: right;
}

@media (max-width:412px){
    h1{
        font-size: 2.5rem;
    }
    
}

footer{
   width: 100%;
   height: auto;
background: #000000;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #434343, #000000);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #434343, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
@media (max-width:1912px){
.btn-neont{
    position: relative;
    display: inline-block;
    padding: 15px 30px;
    color: #fff;
    letter-spacing: 4px;
    font-size: 24px;
    text-decoration: none;
    overflow: hidden;
    transition: 0.2s;
}
.btn-neont:hover{
    background: #00acee;
    box-shadow: 0 0 10px #00acee, 0 0 40px #00acee, 0  0 80px #00acee ;
    transition-delay:1s;

}

.btn-neont span{
    position: absolute;
    display: block;
}

#span12{
    top:0;
    left: -100%;
    width: 100%;
    height: 2px;
    background:linear-gradient(90deg,transparent,#00acee);
}

.btn-neont:hover #span12{
    left: 100%;
    transition: 1s;
}
#span32{
    bottom:0;
    right: -100%;
    width: 100%;
    height: 2px;
    background:linear-gradient(270deg,transparent,#00acee);
}

.btn-neont:hover #span32{
    right: 100%;
    transition: 1s;
    transition-delay:0.5s ;
}
#span22{
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background:linear-gradient(180deg,transparent,#00acee);
}

.btn-neont:hover #span22{
    top: 100%;
    transition: 1s;
    transition-delay:0.25s ;
}

#span42{
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background:linear-gradient(180deg,transparent,#00acee);
}

.btn-neont:hover #span42{
    bottom: 100%;
    transition: 1s;
    transition-delay:0.75s ;
}
/* facebook ---------------------------------------------------------------------*/
.btn-neonf{
    position: relative;
    display: inline-block;
    padding: 15px 30px;
    color: #fff;
    letter-spacing: 4px;
    font-size: 24px;
    text-decoration: none;
    overflow: hidden;
    transition: 0.2s;
}
.btn-neonf:hover{
    background: #3b5998;
    box-shadow: 0 0 10px #3b5998, 0 0 40px #3b5998, 0  0 80px #3b5998 ;
    transition-delay:1s;

}

.btn-neonf span{
    position: absolute;
    display: block;
}

#span11{
    top:0;
    left: -100%;
    width: 100%;
    height: 2px;
    background:linear-gradient(90deg,transparent,#3b5998);
}

.btn-neonf:hover #span11{
    left: 100%;
    transition: 1s;
}
#span31{
    bottom:0;
    right: -100%;
    width: 100%;
    height: 2px;
    background:linear-gradient(270deg,transparent,#3b5998);
}

.btn-neonf:hover #span31{
    right: 100%;
    transition: 1s;
    transition-delay:0.5s ;
}
#span21{
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background:linear-gradient(180deg,transparent,#3b5998);
}

.btn-neonf:hover #span21{
    top: 100%;
    transition: 1s;
    transition-delay:0.25s ;
}

#span41{
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background:linear-gradient(180deg,transparent,#3b5998);
}

.btn-neonf:hover #span41{
    bottom: 100%;
    transition: 1s;
    transition-delay:0.75s ;
}
/* WAHTASAPP------------------------------------------------------------------------------ */
.btn-neonW{
    position: relative;
    display: inline-block;
    padding: 15px 30px;
    color: #fff;
    letter-spacing: 4px;
    font-size: 24px;
    text-decoration: none;
    overflow: hidden;
    transition: 0.2s;
}
.btn-neonW:hover{
    background: #00bb2d;
    box-shadow: 0 0 10px #00bb2d, 0 0 40px #00bb2d, 0  0 80px #00bb2d ;
    transition-delay:1s;

}

.btn-neonW span{
    position: absolute;
    display: block;
}

#span1{
    top:0;
    left: -100%;
    width: 100%;
    height: 2px;
    background:linear-gradient(90deg,transparent,#00bb2d);
}

.btn-neonW:hover #span1{
    left: 100%;
    transition: 1s;
}
#span3{
    bottom:0;
    right: -100%;
    width: 100%;
    height: 2px;
    background:linear-gradient(270deg,transparent,#00bb2d);
}

.btn-neonW:hover #span3{
    right: 100%;
    transition: 1s;
    transition-delay:0.5s ;
}
#span2{
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background:linear-gradient(180deg,transparent,#00bb2d);
}

.btn-neonW:hover #span2{
    top: 100%;
    transition: 1s;
    transition-delay:0.25s ;
}

#span4{
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background:linear-gradient(180deg,transparent,#00bb2d);
}

.btn-neonW:hover #span4{
    bottom: 100%;
    transition: 1s;
    transition-delay:0.75s ;
}
/*LINKEDIN ---------------------------------------------------------------------------------------- */
.btn-neonl{
    position: relative;
    display: inline-block;
    padding: 15px 30px;
    color: #fff;
    letter-spacing: 4px;
    font-size: 24px;
    text-decoration: none;
    overflow: hidden;
    transition: 0.2s;
}
.btn-neonl:hover{
    background: #0e76a8;
    box-shadow: 0 0 10px #0e76a8, 0 0 40px #0e76a8, 0  0 80px #0e76a8 ;
    transition-delay:1s;

}

.btn-neonl span{
    position: absolute;
    display: block;
}

#span15{
    top:0;
    left: -100%;
    width: 100%;
    height: 2px;
    background:linear-gradient(90deg,transparent,#0e76a8);
}

.btn-neonl:hover #span15{
    left: 100%;
    transition: 1s;
}
#span35{
    bottom:0;
    right: -100%;
    width: 100%;
    height: 2px;
    background:linear-gradient(270deg,transparent,#0e76a8);
}

.btn-neonl:hover #span35{
    right: 100%;
    transition: 1s;
    transition-delay:0.5s ;
}
#span25{
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background:linear-gradient(180deg,transparent,#0e76a8);
}

.btn-neonl:hover #span25{
    top: 100%;
    transition: 1s;
    transition-delay:0.25s ;
}

#span45{
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background:linear-gradient(180deg,transparent,#0e76a8);
}

.btn-neonl:hover #span4{
    bottom: 100%;
    transition: 1s;
    transition-delay:0.75s ;
}
}

#particles-js{
  background: url(/img/AdobeStock_126016889apaisado.jpg);
  background-attachment: fixed;
  background-blend-mode:soft-light ;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: calc(100vh - 70px);
}